<html>
<head>
  <link rel='stylesheet' href='./static/css/rpg.css' />
  <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
  <script src="./static/js/showdown/showdown.min.js"></script>
  <script src="./static/js/rpg.js"></script>

  <meta http-equiv="refresh" content="1" >
</head>
<body>

  <div class='markdown' id="title">{% include './static/md/title.md' %} </div>
  <div class='markdown' id="statistics">{% include './static/md/statistics.md' %} </div>
  <div class='markdown' id="characteristics">{% include './static/md/characteristics.md' %} </div>
  <div class='markdown' id="equipment">{% include './static/md/equipment.md' %} </div>
  <div class='markdown' id="skills">{% include './static/md/skills.md' %} </div>
  <div class='markdown' id="talents">{% include './static/md/talents.md' %} </div>

  <div id='display'></div>

</body>
</html>
