<html>
<head>
  <link rel='stylesheet' href='./static/css/rpg.css' />
  <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
  <script src="./static/js/showdown/showdown.min.js"></script>
  <script src="./static/js/rpg.js"></script>
</head>
<body>

  <div id='header'><a href='https://images-cdn.fantasyflightgames.com/filer_public/6d/75/6d753239-1009-4650-b813-9daaa81a721a/swa01_arkhan_character_folio_wq.pdf'>Arkhan</a> (Bothan) <a href='https://star-wars-fringe.obsidianportal.com/wikis/the-commander'>Commander</a></div>

  <div class='markdown' id="statistics">{% include './static/md/statistics.md' %}</div>
  <div class='markdown' id="characteristics">{% include './static/md/characteristics.md' %}</div>
  <div class='markdown' id="equipment">{% include './static/md/equipment.md' %}</div>
  <div class='markdown' id="skills">{% include './static/md/skills.md' %}</div>
  <div class='markdown' id="talents">{% include './static/md/talents.md' %}</div>

  <div id='display'></div>

  <div id='footer'>
    <a href='http://git.jeffseif.info/rpg'>git</a>
    <a href='http://www.thealexandrian.net/creations/misc/star-wars-force-and-destiny-cheat-sheet.pdf'>cheat</a>
    <a href='https://rpg-dice-roller.herokuapp.com/star_wars'>dice</a>
    <a href='http://swrpg.viluppo.net/'>ref</a>
    <a href='https://rollthedice.online/en/dice/1d10'>1d10</a>
  </div>

</body>
</html>
