* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  padding: 0 0.5em;
}

div {
  border-radius: 5px;
  margin: 1em 0;
  text-align: center;
}

div#header, div#footer {
  background-color: lightslategray;
  font-size: 200%;
  margin: 0;
}

div.markdown {
  display: none;
}

div.html {
  border: 1px solid gray;
  background-color: lightgray;
  float: left;
  margin: 0.5em;
  width: calc(50% - 1em);
}

div#display::after {
  content: '';
  clear: both;
  display: table;
}

div.html h2 {
  margin: 1em;
}

div.html table {
  border: 1px solid silver;
  border-bottom: none;
  margin: 1em;
  width: calc(100% - 2em);
}

div.html td {
  border-bottom: 1px dotted gray;
}

div.html th, div.html td {
  padding: 0.5em;
}

span.green {
  color: green;
}

span.yellow {
  color: yellow;
}
